In [11]:
#question 1
#sort the (name, age, height) tuples by ascending order 
#sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score.

t=[("Tom", 19, 80), ("John", 20, 90), ("Jony", 17, 91), ("Jony", 17, 93), ("Json", 21, 85)]
print("Given tuple is: ")
print(t)
def Sort_Tuple(t):  
    t.sort(key = lambda x: (x[0], x[1], x[2]))
    return t
print("Sorted tuple is: ")
print(Sort_Tuple(t))

Given tuple is:
[('Tom', 19, 80), ('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85)]
Sorted tuple is:
[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]

In [31]:
#question 2
#Calculate Word Frequencies

sentence = """I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn’t really happy"""
print(sentence)
words= sentence.split()
#print(words)
new_list=[]
for word in words:
    if word not in new_list:
        new_list.append(word)
for i in range (0, len(new_list)) :
    print( 'frequency of', new_list[i], 'is: ', sentence.count(new_list[i]))
#print(new_list)

I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn’t really happy
frequency of I is:  5
frequency of felt is:  1
frequency of happy is:  4
frequency of because is:  2
frequency of saw is:  1
frequency of the is:  2
frequency of others is:  1
frequency of were is:  1
frequency of and is:  1
frequency of knew is:  1
frequency of should is:  1
frequency of feel is:  1
frequency of happy, is:  1
frequency of but is:  1
frequency of wasn’t is:  1
frequency of really is:  1

In [87]:
#question 3
# result calculation

#database of marks of students for maths and CS

Student = { 'UE183001': 'Avish',
           'UE183002': 'Bhavya',
           'UE183003': 'Tanya',
           'UE183004': 'Animesh',
           'UE183005': 'Tripta', 
           'UE183006': 'Tanvir',
           'UE183007': 'Aamya',
           'UE183008': 'Somesh',
           'UE183009': 'Anant', 
           'UE183010': 'Ananya',
           'UE183011': 'Bobby',
           'UE183012': 'Zahir'} 
Marks = [('UE183001', 'CS', 94 ),
         ('UE183002', 'CS', 64 ),
         ('UE183003', 'CS', 85 ),
         ('UE183004', 'CS', 70 ), 
         ('UE183005', 'CS', 55 ),
         ('UE183006', 'CS', 67 ),
         ('UE183007', 'CS', 87 ), 
         ('UE183008', 'CS', 89 ), 
         ('UE183009', 'CS', 64 ),
         ('UE183010', 'CS', 40 ), 
         ('UE183011', 'CS', 80 ), 
         ('UE183012', 'CS', 75 ),
         ('UE183001', 'Maths', 90),
         ('UE183002', 'Maths', 74), 
         ('UE183003', 'Maths', 80),
         ('UE183004', 'Maths', 95),
         ('UE183005', 'Maths', 80), 
         ('UE183006', 'Maths', 70), 
         ('UE183007', 'Maths', 60), 
         ('UE183008', 'Maths', 90),
         ('UE183009', 'Maths', 55), 
         ('UE183010', 'Maths', 75), 
         ('UE183011', 'Maths', 45), 
         ('UE183012', 'Maths', 94)]

#driver code

for key in Student:
    sum=0
    for i in range (0, len(Marks)):
        if Marks[i][0]==key:
            sum=sum+Marks[i][2]
    print(key, Student[key], 'scored a total of:',sum)

UE183001 Avish scored a total of: 184
UE183002 Bhavya scored a total of: 138
UE183003 Tanya scored a total of: 165
UE183004 Animesh scored a total of: 165
UE183005 Tripta scored a total of: 135
UE183006 Tanvir scored a total of: 137
UE183007 Aamya scored a total of: 147
UE183008 Somesh scored a total of: 179
UE183009 Anant scored a total of: 119
UE183010 Ananya scored a total of: 115
UE183011 Bobby scored a total of: 125
UE183012 Zahir scored a total of: 169

In [104]:
#question 4
#The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

old_date= input("enter the date(DD-MMM-YY):")
def month_converter(month):
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    return months.index(month) + 1
new_date= old_date.split('-')
print(new_date)
a=new_date[0]
new_date[0]=new_date[2]
new_date[2]=a
new_date[1]=month_converter(new_date[1])
print("new arranged date in y-m-d manner: ", new_date)

enter the date(DD-MMM-YY):29-Aug-99
['29', 'Aug', '99']
new arranged date in y-m-d manner:  ['99', 8, '29']

In [160]:
#question 5


my_dict = {}

for i in range(1,7):
 for j in range(1,7):
  key = i+j
  if key in my_dict: # CHECK if the key is present in the dictionary
   # print("Updating key " + str(key))
   tuples = my_dict[i+j] # Get the list of values 
   tuples.append((i,j))  # Update this list
   # print(tuples)
   my_dict.update({key : tuples}) # Now update
  else:
   # print("Making key " + str(key))
   my_dict[key] = [(i,j)]


print(my_dict)

{2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]}