In [1]:
 10+15

25

In [2]:
print("Hello World")

Hello World

In [3]:
45-34

11

In [4]:
8*2

16

In [5]:
print("Rahul's age is", 45)

Rahul's age is 45

In [6]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

In [7]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

In [8]:
customer_id = 101
type(customer_id)
customer_name = "John"
type(customer_name)
bill_amount = 675.45
type(bill_amount )
x = 5.3 + 0.9j
type(x)
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
type(Flag)
y = "False"

101 John 675.45
5.3
3.9

In [23]:
bill_id = 101
customer_id = 1001
customer_name = "Rahul"
if_minor = False
bill_amount = 2000.50
print(bill_id, customer_id, customer_name, if_minor, bill_amount)

101 1001 Rahul False 2000.5

In [33]:
#user input num1 and num2, increase them and then add the new values of num1 and num2
num1=input("enter num1: ")
print(num1)
num2=input("enter num2: ")
print(num2)
num1=int(num1)+4
num2=int(num2)+6
print("new num1: ", num1)
print("new num2: ", num2)
print("sum of new values of num1 and num2: ", num1+num2 )

enter num1: 1
1
enter num2: 2
2
new num1:  5
new num2:  8
sum of new values of num1 and num2:  13

In [39]:
#swapping a and b without using third variable
a=4
b=5
a=b-a
b=b-a
a=a+b
print("new a and new b are: ", a, "and", b)

new a and new b are:  5 and 4

In [43]:
#calculating average marks of john
comp_sc= 75
maths=95
phy= 68
#average of the marks
average= (comp_sc+maths+phy)/3
print("average of marks: ", average)
 # change of marks of one subject
phy= 80
average= (comp_sc+maths+phy)/3
print("new avergae: ", average)

average of marks:  79.33333333333333
new avergae:  83.33333333333333

In [45]:
#calculating area and perimeter of circle
r=3.5
a=3.14*r*r
p=2*3.14*r
print("area and perimeter of circle: ", a, ",", p)

area and perimeter of circle:  38.465 , 21.98

In [52]:
#calculating monthly payment of an employee by given formula
n=40
p=400
N=4
print("Number of hours worked in a week: ",n)
print("Pay rate per hour: ",p)
print("No. of weeks in a month: ", N)
M= n*p*N
print("Monthly pay of an employee: ", M)

Number of hours worked in a week:  40
Pay rate per hour:  400
No. of weeks in a month:  4
Monthly pay of an employee:  64000

In [58]:
#display the even numbers between 50 and 80 using for loop
for n in range(50, 80):
    if n%2 == 0:
        print(n)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78

In [66]:
#sum of natural numbers upto n
n= int(input("enter the value of n: "))
sum=0
while(n>0):
    sum=sum+n
    n=n-1
print(sum)

enter the value of n: 5
15

In [78]:
#check whether the number is prime or not
n= int(input("enter the value of n: "))
if n> 1:
    
     for i in range(2,n):
            if (n % i) == 0:
                print(n,"is not a prime number")
                break
            else:
                print(n,"is a prime number")
    
else:
    print(n,"is not a prime number")

enter the value of n: 4
4 is not a prime number

In [103]:
#fibonacci series till nth term 
n= int(input("enter the value of n: "))
a=0
b=1
i=0
if n==0:
    print("fibonacci series: ", a)
elif n==1:
    print("fibonacci series: ", b)
else:
    print("fibonacci series: ", )
    for i in range(0,n):
        print(a)
        next_term=a+b
        a=b
        b=next_term
        i=i+1

enter the value of n: 7
fibonacci series:
0
1
1
2
3
5
8